<div class="row justify-content-center align-items-center p-4 flex-grow-1">
    <div class="col-lg-6 col-md-6 text-center mt-4 h-100 d-flex flex-column align-items-center">

        <!-- Fine Circle Responsive Image -->
        <div class="my-2 flex-grow-1 flex-shrink-1 overflow-hidden" id="container"
             style="flex-basis: 0;">
            <a href="/about">
                <img alt="{{ site.title }}" class="circle-image wow animated zoomIn w-auto" data-wow-delay=".1s"
                     src="{{ site.author.image }}">
            </a>
        </div>

        <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p>
        <a class="btn btn-outline-secondary wow animated fadeInUp mb-5" data-wow-delay="0.5s" href="/about">
            Behind the scenes with me 🎬
        </a>
    </div>
</div>