---
layout: page
title: About
permalink: /about/
weight: 3
---

# **About Me**

Hi I am **{{ site.author.name }}** :wave:,<br>
I’m a Senior Software Engineer specializing in backend development, cloud services, and AI solutions. With expertise in Python, JavaScript, Node.js, and frameworks like Django and React, I deliver scalable solutions across finance, technology, e-commerce, and multimedia sectors.

Currently working remotely with Simplified, TLDR Technologies Inc, I lead projects in AI-powered video automation and media processing, optimizing cloud infrastructure and enhancing database performance. Previously at Aubergine Solutions Pvt Ltd, I developed backend applications with GraphQL and Django and led e-commerce initiatives. My early career at Nividata Consultancy provided a strong foundation in fintech and blockchain technology.

I am an active contributor to StackOverflow and GitHub, recognized with several awards and badges, including a Rising Star Award and multiple HackerRank achievements. My background in Information Technology and certifications in Scrum Mastery reflect my dedication to continuous learning and innovation.
<div class="row">
{% include about/skills.html title="Programming Skills" source=site.data.programming-skills %}
{% include about/skills.html title="Other Skills" source=site.data.other-skills %}
</div>

<div class="row">

</div>

<div class="row">
{% include about/timeline.html %}
</div>